.App {
  text-align: center;
  position: relative;
}


.center {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 100;

}

.tsparticles {
  position: relative;

  z-index: -1;
}
